In [1]:
import datetime

import numpy as np
import pandas as pd

from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2, f_regression
import matplotlib.pyplot as plt
import os






store = pd.HDFStore("/Users/nipunbatra/Downloads/wiki-temp.h5")

a = store.keys()
def num_from_key(key):
    return int(key[1:])

def key_from_num(num):
    return "/"+str(num)


ids = map(num_from_key, a)

cols = ['house_square_feet', "total_annual_income", "number_floors",'sex_males', 'sex_females', 'house_num_rooms', 'year_house_constructed']
from copy import deepcopy
cols_plus_data_id = deepcopy(cols)
cols_plus_data_id.insert(0, "dataid")

Vendor:  Continuum Analytics, Inc.
Package: mkl
Message: trial mode expires in 28 days

In [2]:
ds_path = "/Users/nipunbatra/wikienergy-2013_ipsn.h5"

In [3]:
from nilmtk import *

In [4]:
ds = DataSet(ds_path)

In [5]:
original_name_dict = {b.metadata['original_name']:b.identifier.instance for b in ds.buildings.values()}
original_name_map = pd.Series(original_name_dict)
reverse_name_map = pd.Series({v:k for k,v in original_name_dict.iteritems() })

In [6]:
original_name_map[94]

1

In [7]:
train = DataSet(ds_path)
test = DataSet(ds_path)

In [8]:
from nilmtk.disaggregate import FHMM

In [9]:
def find_specific_appliance(appliance_name, appliance_instance, list_of_elecs):
    for elec_name in list_of_elecs:
        appl = elec_name.appliances[0]
        if (appl.identifier.type, appl.identifier.instance) == (appliance_name, appliance_instance):
            return elec_name

In [10]:
import datetime

import numpy as np
import pandas as pd

from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2, f_regression
import matplotlib.pyplot as plt
import os

#START, STOP = '2013-07-01', '2013-07-31'


from nilmtk.disaggregate.hart_85 import *
from nilmtk.feature_detectors.steady_states import *



store = pd.HDFStore("/Users/nipunbatra/Downloads/wiki-temp.h5")

a = store.keys()
def num_from_key(key):
    return int(key[1:])

def key_from_num(num):
    return "/"+str(num)



fridge_homes = [  94,  370,  545,  624,  871, 1697, 2156, 2242, 2470, 2814, 3367,
            3456, 3723, 3967, 4031, 4767, 4957, 5357, 5371, 6139, 7769, 7800,
            7866, 9729, 9982]






from nilmtk import *
ds_path = "/Users/nipunbatra/wikienergy-2013_ipsn.h5"

ds = DataSet(ds_path)

original_name_dict = {b.metadata['original_name']:b.identifier.instance for b in ds.buildings.values()}
original_name_map = pd.Series(original_name_dict)
reverse_name_map = pd.Series({v:k for k,v in original_name_dict.iteritems() })

train = DataSet(ds_path)
test = DataSet(ds_path)



from nilmtk.disaggregate import FHMM

def find_specific_appliance(appliance_name, appliance_instance, list_of_elecs):
    for elec_name in list_of_elecs:
        appl = elec_name.appliances[0]
        if (appl.identifier.type, appl.identifier.instance) == (appliance_name, appliance_instance):
            return elec_name

In [11]:
out = {}

months_start_stop = {
    1: ('2013-01-01', '2013-01-31'),
    2: ('2013-02-01', '2013-02-28'),
    3: ('2013-03-01', '2013-03-31'),
    4: ('2013-04-01', '2013-04-30'),
    5: ('2013-05-01', '2013-05-31'),
    6: ('2013-06-01', '2013-06-30'),
    7: ('2013-07-01', '2013-07-31'),
    8: ('2013-08-01', '2013-08-31'),
    9: ('2013-09-01', '2013-09-30'),
    10: ('2013-10-01', '2013-10-31'),
    11: ('2013-11-01', '2013-11-30'),
    12: ('2013-12-01', '2013-12-31')
}

In [12]:
train = DataSet(ds_path)
train.set_window(start="2013-07-01", end="2013-07-15")
fhmm_out = {}
hart_out = {}

In [15]:

for id_home in fridge_homes[:]:
    
    if id_home in fhmm_out or id_home in hart_out:
        continue
    fhmm_out[id_home] = {}
    hart_out[id_home] = {}


    # Train on Hart
    train_power_df = store[key_from_num(id_home)]["2013-07-01":"2013-07-15"]['use']
    train_overall_survey_df = store[key_from_num(id_home)]["2013-07-01":"2013-07-15"]
    ref_df = train_overall_survey_df['refrigerator1']

    """"
    ss_total, tr_total = find_steady_states(pd.DataFrame({"power":train_power_df}))

    from nilmtk.disaggregate import Hart85
    from nilmtk.disaggregate.hart_85 import hart85_means_shift_cluster
    from nilmtk.disaggregate import FHMM

    h = Hart85()
    h.transients = deepcopy(tr_total)
    pair_df = h.pair(buffer_size=20,
      min_tolerance=100, percent_tolerance=0.035,
      large_transition=1000)
    h.centroids = hart85_means_shift_cluster(pair_df, cols=[('power','active')])
    d = (h.centroids - ref_df[ref_df>50].mean()).abs()
    ref_num = d[('power','active')].argmin()
    ref_identifier_tuple = ('unknown', ref_num)
    """

    # Train FHMM
    b_id = original_name_map[id_home]
    train_elec = train.buildings[b_id].elec


    top_5_train_elec = train_elec.submeters().select_top_k(k=4)
    fridge_elec_train = train_elec[('fridge', 1)]
    if fridge_elec_train not in top_5_train_elec.meters:
        top_5_train_elec.meters.append(fridge_elec_train)
    fhmm = FHMM()
    fhmm.train(top_5_train_elec)
    ref_instance=1

    for month in range(1, 13):
        print "*"*80
        print month
        print "*"*80
        test = DataSet(ds_path)
        test.set_window(start=months_start_stop[month][0], end=months_start_stop[month][1])
        print id_home
        print "--"*80
        try:

            overall_survey_df = store[key_from_num(id_home)][months_start_stop[month][0]:months_start_stop[month][1]]
            power_df = overall_survey_df['use']




            if power_df.sum()>0:
                """
                pdf = pd.DataFrame({"power":power_df})


                pred_df_ref_hart = h.disaggregate_chunk(pdf, {}, h.transients)[[ref_num]].squeeze()
                """





                test_elec = test.buildings[b_id].elec
                test_mains = test_elec.mains()
                test_mains_df = test_mains.load().next()
                ref_elec_train = train_elec[('fridge', 1)]
                ref_elec_test = test_elec[('fridge', 1)]

                pred_df_fhmm = fhmm.disaggregate_chunk(test_mains_df)
                pred_df_ref_fhmm = pred_df_fhmm[[find_specific_appliance('fridge',
                                                                  ref_instance,
                                                                  pred_df_fhmm.columns.tolist())]]
                pred_ser_ref = pred_df_ref_fhmm.squeeze()
                pred_ser_ref.name = "FHMM"

                fhmm_out[id_home][month] = pred_ser_ref.sum()
                #hart_out[id_home][month] = pred_df_ref_hart.sum()






        except Exception, e:
            print e, e.message
            pass
    

    #pred_df = pd.DataFrame(out)

1/14 ElecMeter(instance=1, building=15, dataset='Dataport', appliances=[Appliance(type='dish washer', instance=1)])

HDF5ExtError: HDF5 error back trace

  File "H5G.c", line 811, in H5Gclose
    not a group

End of HDF5 error back trace

Problems closing the Group cache

In [30]:
hart_out

{94: {1: 0,
  2: 0,
  3: 0,
  4: 0,
  5: 0,
  6: 0,
  7: 1404734,
  8: 0,
  9: 0,
  10: 0,
  11: 0,
  12: 0}}

In [43]:
pd.DataFrame(fhmm_out).mul(.000017)

,94,370,545,624,871,1697,2156,2242,2470,2814,3367,3456,3723,3967,4031,4767,4957,5357,5371,6139
1,104.121940,52.509277,65.239234,107.179458,22.290740,NaN,120.912738,71.004852,48.353066,42.823986,62.121366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,79.431174,48.362535,56.878770,76.367570,20.717781,NaN,106.218108,64.371690,43.700438,41.316120,56.242035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,98.232817,52.754570,60.355542,73.579604,22.638492,NaN,133.183168,65.292325,49.780318,44.457550,62.235419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,86.342966,52.396669,55.093702,84.456748,20.552150,NaN,120.346961,64.056918,46.926358,42.342546,59.938821,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,87.876876,56.945240,59.949157,92.459430,20.516042,NaN,131.740616,71.568912,49.277560,45.375210,62.803440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,104.381360,56.799584,59.953934,105.731347,20.449793,NaN,135.818712,77.890566,51.850000,44.745054,69.174972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,112.225024,57.735434,61.198657,147.479522,22.535761,NaN,135.214685,80.018898,53.492710,45.743430,71.878176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,91.561150,59.306336,61.531823,134.873223,20.514019,NaN,130.447103,80.527419,52.771298,43.929768,67.788945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,106.204610,55.146402,58.611852,122.276614,19.243745,NaN,121.594795,70.383774,50.297390,43.244838,68.058837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.426526
10,89.688158,56.598508,62.274417,108.275805,22.231733,NaN,99.990668,65.440548,53.699702,44.235768,66.967488,NaN,NaN,NaN,NaN,NaN,172.951353,NaN,NaN,NaN
11,64.844205,52.312553,61.616041,100.055880,18.642999,NaN,107.171009,64.757131,52.028262,43.867786,60.730052,NaN,NaN,NaN,NaN,NaN,207.934038,NaN,NaN,NaN
12,66.369258,44.604209,61.979382,129.410579,19.006476,NaN,112.137202,71.754450,55.694686,46.298310,66.939336,NaN,NaN,NaN,NaN,NaN,255.786403,NaN,NaN,NaN

In [51]:
fhmm.disaggregate_chunk(test_mains_df)

,"ElecMeter(instance=7, building=1, dataset='Dataport', appliances=[Appliance(type='sockets', instance=1)])","ElecMeter(instance=8, building=1, dataset='Dataport', appliances=[Appliance(type='fridge', instance=1)])","ElecMeter(instance=1, building=1, dataset='Dataport', appliances=[Appliance(type='dish washer', instance=1)])","ElecMeter(instance=9, building=1, dataset='Dataport', appliances=[Appliance(type='air conditioner', instance=1)])","ElecMeter(instance=5, building=1, dataset='Dataport', appliances=[Appliance(type='electric furnace', instance=1)])"
localminute,,,,,
2013-03-01 00:00:00-06:00,46,113,0,0,53
2013-03-01 00:01:00-06:00,46,113,58,0,10
2013-03-01 00:02:00-06:00,46,113,58,0,10
2013-03-01 00:03:00-06:00,46,113,58,0,10
2013-03-01 00:04:00-06:00,46,113,58,0,10
2013-03-01 00:05:00-06:00,46,113,58,0,10
2013-03-01 00:06:00-06:00,46,113,58,0,10
2013-03-01 00:07:00-06:00,46,113,58,0,10
2013-03-01 00:08:00-06:00,46,113,58,0,10
2013-03-01 00:09:00-06:00,46,113,0,0,53
2013-03-01 00:10:00-06:00,46,113,0,0,53
2013-03-01 00:11:00-06:00,46,113,0,0,53
2013-03-01 00:12:00-06:00,46,113,0,0,53
2013-03-01 00:13:00-06:00,46,113,0,0,53
2013-03-01 00:14:00-06:00,46,113,0,0,53
2013-03-01 00:15:00-06:00,46,113,0,0,53
2013-03-01 00:16:00-06:00,46,113,0,0,53
2013-03-01 00:17:00-06:00,46,113,0,0,53
2013-03-01 00:18:00-06:00,46,113,0,0,53
2013-03-01 00:19:00-06:00,46,113,0,0,53
2013-03-01 00:20:00-06:00,46,113,0,0,53
2013-03-01 00:21:00-06:00,46,113,0,0,53
2013-03-01 00:22:00-06:00,256,3,58,0,10
2013-03-01 00:23:00-06:00,256,113,58,0,10
2013-03-01 00:24:00-06:00,46,399,58,0,53
2013-03-01 00:25:00-06:00,46,399,0,0,53
2013-03-01 00:26:00-06:00,256,113,58,0,53
2013-03-01 00:27:00-06:00,256,113,58,0,53
2013-03-01 00:28:00-06:00,256,113,58,0,53
2013-03-01 00:29:00-06:00,256,3,0,0,203
...,...,...,...,...,...
2013-03-30 23:30:00-05:00,256,3,58,0,53
2013-03-30 23:31:00-05:00,46,113,0,0,203
2013-03-30 23:32:00-05:00,46,113,0,0,203
2013-03-30 23:33:00-05:00,46,113,0,0,203
2013-03-30 23:34:00-05:00,46,113,0,0,203
2013-03-30 23:35:00-05:00,46,113,0,0,203
2013-03-30 23:36:00-05:00,46,113,0,0,203
2013-03-30 23:37:00-05:00,46,113,0,0,203
2013-03-30 23:38:00-05:00,46,113,0,0,203
2013-03-30 23:39:00-05:00,46,113,0,0,203
2013-03-30 23:40:00-05:00,46,113,0,0,203
2013-03-30 23:41:00-05:00,46,113,0,0,203
2013-03-30 23:42:00-05:00,46,113,58,977,53
2013-03-30 23:43:00-05:00,256,3,58,977,203
2013-03-30 23:44:00-05:00,256,3,58,977,203
2013-03-30 23:45:00-05:00,602,113,0,0,53
2013-03-30 23:46:00-05:00,256,113,0,0,203
2013-03-30 23:47:00-05:00,602,3,58,0,203
2013-03-30 23:48:00-05:00,602,3,58,0,203
2013-03-30 23:49:00-05:00,602,3,58,0,203
2013-03-30 23:50:00-05:00,602,399,0,0,10
2013-03-30 23:51:00-05:00,602,399,0,0,10
2013-03-30 23:52:00-05:00,602,113,58,0,203
2013-03-30 23:53:00-05:00,602,113,0,0,203
2013-03-30 23:54:00-05:00,602,399,58,977,203
2013-03-30 23:55:00-05:00,256,399,1168,0,203
2013-03-30 23:56:00-05:00,46,113,1168,0,53
2013-03-30 23:57:00-05:00,46,3,58,977,203
2013-03-30 23:58:00-05:00,46,3,58,977,203
2013-03-30 23:59:00-05:00,46,113,58,977,203

In [37]:
months_start_stop[month][1]

'2013-04-31'

In [44]:
test.set_window(start='2013-04-01' ,end='2013-04-31')

ValueError: